*{
    /* border: .01px solid; */
}

main {
    max-width: 1700px;
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

header {
    background-color: olive;
    height: 100px;
    text-align: center;
}

#motivation {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.side-navbar {
    height: 100vh;
}

.card {
    margin: 50px 0px;
    height: 400px;
    width: 200px;
}

.icon {
    height: 50px;
    width: 50px;
}